In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## Which year had the least correlation with ‘Element Code’?

In [4]:
# Select the columns of interest
year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

# Calculate the correlation between 'Element Code' and each year column
correlations = df[year_columns].corrwith(df['Element Code'])

# Find the year with the least correlation
year_with_least_correlation = correlations.idxmin()

print("Year with the least correlation:", year_with_least_correlation)

Year with the least correlation: Y2016

## Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [5]:
# Perform groupby sum aggregation on 'Element' for all years
sum_stock_variation_by_year = df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

# Find the year(s) with the highest sum of Stock Variation and sort in descending order
years_with_highest_stock_variation = sum_stock_variation_by_year.sum(axis=0).sort_values(ascending=False)

print("Year(s) with the highest sum of Stock Variation (from highest to lowest):")
print(years_with_highest_stock_variation)

Year(s) with the highest sum of Stock Variation (from highest to lowest):
Y2018    8554629.96
Y2017    8375729.19
Y2016    8112472.65
Y2015    8032340.23
Y2014    7965086.13
dtype: float64

C:\Users\DELL\AppData\Local\Temp/ipykernel_11680/4173349510.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sum_stock_variation_by_year = df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

## What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [6]:
# Calculate the total number of missing data in 'Y2014'
total_missing = df['Y2014'].isnull().sum()

# Calculate the percentage of missing data in 'Y2014'
percentage_missing = (total_missing / len(df['Y2014'])) * 100

# Round the percentage to 3 decimal places
percentage_missing = round(percentage_missing, 3)

# Print the results
print("Total number of missing data in Y2014:", total_missing)
print("Percentage of missing data in Y2014:", percentage_missing, "%")

Total number of missing data in Y2014: 1589
Percentage of missing data in Y2014: 2.607 %

## What is the total Protein supply quantity in Madagascar in 2015?

In [14]:
# Define the search pattern to match the phrase "Protein supply quantity" in the 'Element' column
pattern = "Protein supply quantity"

# Filter the dataframe based on the conditions: Area is 'Madagascar' and 'Element' column matches the pattern
filtered_df = df[(df['Area'] == 'Madagascar') & (df['Element'].str.contains(pattern, case=False, na=False))]

# Extract the 'Y2015' column and calculate the sum
total_protein_supply = filtered_df['Y2015'].sum()
total_protein_supply = round(total_protein_supply, 2)
print("Total Protein supply quantity in Madagascar in Y2015:", total_protein_supply)

Total Protein supply quantity in Madagascar in Y2015: 173.05

## What is the total sum of Wine produced in 2015 and 2018 respectively?

In [8]:
wine_production_2015 = df[df['Item'] == 'Wine']['Y2015'].sum()
wine_production_2018 = df[df['Item'] == 'Wine']['Y2018'].sum()

print("Total Wine produced in 2015:", wine_production_2015)
print("Total Wine produced in 2018:", wine_production_2018)

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

## What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [9]:
year_2017_data = df['Y2017'].dropna()
mean_2017 = round(year_2017_data.mean(), 2)
std_2017 = round(year_2017_data.std(), 2)

print("Mean for 2017:", mean_2017)
print("Standard Deviation for 2017:", std_2017)

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

## Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [10]:
processing_2017 = df[df['Element'] == 'Processing']['Y2017'].sum()
print("Total sum of Processing in 2017:", processing_2017)

Total sum of Processing in 2017: 292836.0

## Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [11]:
area_sum_2017 = df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum()
area_highest_sum_2017 = area_sum_2017.idxmax()

print("Area with the highest sum in 2017:", area_highest_sum_2017)

Area with the highest sum in 2017: Nigeria

## Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [12]:
area_sum_2017 = df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum()
area_seventh_lowest_sum_2017 = area_sum_2017.nsmallest(7).index[-1]

print("Area with the 7th lowest sum in 2017:", area_seventh_lowest_sum_2017)

Area with the 7th lowest sum in 2017: Guinea-Bissau

## What is the total number of unique countries in the dataset?

In [13]:
total_unique_areas = df['Area'].nunique()
print("Total number of unique countries in the dataset:", total_unique_areas)

Total number of unique countries in the dataset: 49